<div ng-controller="TeamsController as vm">

  <!-- Invite new team modal !-->
  <div id="invitationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="invitationModal" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title mt-0" id="myModalLabel">Invite a user to your team</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal m-t-20">


                            <div class="form-group">
                                <div class="col-12">
                                    <input ng-model="vm.invitation.name" id="invitation_name" type="text" class="form-control" name="invitation_name" placeholder="Name" required autofocus>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-12">
                                    <input ng-model="vm.invitation.email" id="invitation_email" type="text" class="form-control" name="invitation_email" placeholder="Email" required autofocus>

                                </div>
                            </div>

                        </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                          <button ng-disabled="!vm.isInvitationValid();" type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" ng-click="vm.sendInvitation();">Save</button>
                      </div>
                  </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
          </div>




          <!-- Page-Title -->
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <div class="btn-group pull-right">
                          <ol class="breadcrumb hide-phone p-0 m-0">
                              <li class="breadcrumb-item"><a href="#">User</a></li>
                              <li class="breadcrumb-item active">Teams</li>
                          </ol>
                      </div>
                      <h4 class="page-title">My Teams</h4>
                  </div>
              </div>
          </div>
          <!-- end page title end breadcrumb -->


          <div class="row">
              <div class="col-md-4 col-lg-3">
                  <div class="profile-detail card-box">

                    <div class="list-group b-0 mail-list" align="left">
                        <a ng-repeat="team in vm.Auth().currentUser().teams" class="list-group-item" ng-click="vm.changeTeam(team);">
                          <span>
                            <img ng-src="{{team.profilepic}}" style="width:35px; height:35px;" class="rounded-circle">
                          {{team.name}}
                        </span>
                        <span class="pull-right">
                          <button class="btn btn-xs btn-default waves-effect waves-light">Settings</button>
                        </span>
                        </a>
                    </div>
                    <hr>

                    <button class="btn btn-xs btn-primary waves-effect waves-light" data-toggle="modal" data-target="#newTeamModal">
                      <i class="fa  fa-plus-square"></i> New team
                    </button>




                    <div id="newTeamModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title mt-0" id="myModalLabel">Create new team</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                          <form class="form-horizontal m-t-20">


                                              <div class="form-group">
                                                  <div class="col-12">
                                                      <input ng-model="vm.newTeam.name" id="teamname" type="text" class="form-control" name="teamname" placeholder="Team name" required autofocus>

                                                  </div>
                                              </div>

                                          </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                            <button ng-disabled="!vm.isNewTeamValid();" type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" ng-click="vm.saveNewTeam();">Save</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>


                  </div>


              </div>


              <div class="col-lg-9 col-md-8">
                  <div class="card-box">
                    <h4>{{vm.Auth().currentTeam().name}}</h4>

                      <div class="col-md-4 col-lg-3">
                        <div class="profile-detail card-box">
                            <div>
                                <img ng-src="{{vm.Auth().currentTeam().profilepic}}" class="rounded-circle" alt="profile-image"><br>

                                <profilepicker ng-if="vm.Auth().isAllowed('teams.members.edit')" callback="vm.handleProfilePicUpload(file);"></profilepicker>

                                <button ng-if="!vm.AmIOnlyAdminUser();" ng-click="vm.removeMeFromTeam();" class="btn btn-xs btn-warning">Leave team</button>
                            </div>


                        </div>
                      </div>

                      <hr>
                      <h4>
                        Team members
                        <button ng-if="vm.Auth().isAllowed('teams.members.add')" class="btn btn-xs btn-primary waves-effect waves-light" ng-click="vm.openInvitation();">Invite people</button>
                      </h4>

                      <table class="table table-hover">
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Role</th>
                          <th></th>
                        </tr>
                        <tr ng-repeat="teamMember in vm.teamMembers">
                          <td>{{teamMember.firstname}} {{teamMember.lastname}} <span ng-if="vm.userIsMyself(teamMember);" class="label label-success"> You</span></td>
                          <td>{{teamMember.email}}</td>
                          <td>

                            <div ng-if="!vm.userIsMyself(teamMember);">
                              <div ng-if="!vm.Auth().isAllowed('teams.members.edit')">
                                    {{teamMember.role.name}}
                              </div>
                              <div ng-if="vm.Auth().isAllowed('teams.members.edit')">
                                <select class="form-control" ng-change="vm.changeUserRole(teamMember, vm.Auth().currentTeam(), teamMember.role.id)" ng-model="teamMember.role.id" ng-options="role.id as role.name for role in vm.Auth().availableRoles()"></select>
                              </div>
                            </div>

                            <div ng-if="vm.userIsMyself(teamMember);">
                              {{teamMember.role.name}}
                            </div>




                          </td>
                          <td>
                            <div ng-if="vm.Auth().isAllowed('teams.members.remove')">
                            <button ng-if="!vm.userIsMyself(teamMember);" ng-click="vm.removeOtherUserFromTeam(teamMember);" class="btn btn-xs btn-danger"><span class="fa fa-window-close"></span></button>
                            <div>
                          </td>
                        </tr>
                      </table>

                  </div>



              </div>

          </div>


</div>
