<div class="card-box">
  <h2><button class="btn btn-success"><i class="fa fa-check"/></button>
    Your creation is ready!</h2>
  <p>
    Download the output files below
  </p>
</div>

<div class="card-box">
<blockquote ng-repeat="outputfile in vm.job.wemockup_item.outputfiles">
  <p>
    <a href="{{outputfile.link}}" target="_blank">
      <button class="btn btn-success">Download</button>
    </a>
  </p>

  <div ng-if="vm.isImage(outputfile.filename)">
    <a href="{{outputfile.link}}" target="_blank">
      <img class="img img-fluid" ng-src="{{vm.getResponsiveFileUrl(outputfile.link,600,600);}}"/>
    </a>
  </div>

  <div ng-if="vm.isVideo(outputfile.filename)">

    <video class="img img-fluid" controls>
      <source ng-src="{{outputfile.link}}" type="video/mp4">
        Your browser does not support HTML5 video. But don't worry you can download from the link above.
    </video>

  </div>
</blockquote>
</div>
