<div class="card-box">
  <h2><i class="fa fa-spin fa-cog"/> Rendering</h2>
  <p>
Our mockup monkeys are hard at work!
  </p>
  <p>
    You can leave this page if you wish and we will send you an email when your doohpress is ready!
  </p>
                                    <div class="progress">
                                        <div class="progress-bar progress-lg progress-bar-success progress-bar-striped active progress-animated wow animated " role="progressbar" aria-valuenow="{{vm.job.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.job.progress}}%;">
                                            <span >{{vm.job.progress}} %</span>
                                        </div>
                                    </div>
</div>

<div class="card-box">
  <blockquote class="blockquote">
    <p>Depending on your task, this can take a few minutes.</p>
    <footer class="blockquote-footer"> Said somebody once at <cite title="Source Title">Doohpress</cite></footer>
  </blockquote>
</div>
