<div class="row">

  <div class="col-md-6 col-lg-6">
      <div class="card-box">
        <h4>Details</h4>

        <form class="form-horizontal m-t-20">


            <div class="form-group">
                <div class="col-12">
                    <input ng-model="vm.frame.name" type="text" class="form-control" name="frame_name" placeholder="Name" required autofocus>

                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                    <textarea placeholder="Description" ng-model="vm.frame.description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                  <small>Owner:</small>
                  <select ng-options="owner.id as owner.name for owner in vm.owners" class="form-control" ng-model="vm.frame.owner_id">
                  </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                  <small>City:</small>
                  <select class="form-control" ng-model="vm.frame.city_id">
                    <optgroup ng-repeat="country in vm.countries" label="{{country.name}}">
                      <option ng-repeat="city in country.cities" ng-selected="city.id == vm.frame.city_id" value="{{city.id}}">{{city.name}}</option>
                    </optgroup>
                  </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                    <input ng-model="vm.frame.address" type="text" class="form-control" name="frame_address" placeholder="Address" required autofocus>

                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                    <input ng-model="vm.frame.postcode" type="text" class="form-control" name="frame_postcode" placeholder="Postcode/Zipcode" required autofocus>

                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="col-12">
                  <small>Frame Type:</small>
                  <select ng-options="frametype.id as frametype.name for frametype in vm.frametypes" class="form-control" ng-model="vm.frame.frametype_id">
                  </select>
                </div>
            </div>
            <hr />

            <div class="form-group">
              <small>Width:</small>
                <div class="col-12">
                    <input ng-model="vm.frame.width" type="text" class="form-control" name="frame_width" placeholder="Width" required autofocus>

                </div>
            </div>

            <div class="form-group">
              <small>Height:</small>
                <div class="col-12">
                    <input ng-model="vm.frame.height" type="text" class="form-control" name="frame_height" placeholder="Height" required autofocus>

                </div>
            </div>

            <div class="form-group">
              <small>Fps:</small>
                <div class="col-12">
                    <input ng-model="vm.frame.fps" type="text" class="form-control" name="frame_fps" placeholder="Frames/Sec (fps)" required autofocus>

                </div>
            </div>

            <div class="form-group">
              <small>Max bitrate:</small>
                <div class="col-12">
                    <input ng-model="vm.frame.max_bitrate" type="text" class="form-control" name="frame_max_bitrate" placeholder="Max bitrate (eg 4000)" required autofocus>

                </div>
            </div>




        </form>



      </div>


      <div class="card-box">
        <button ng-disabled="!vm.isFrameValid()" ng-click="vm.updateFrame()" class="btn btn-lg btn-primary">Save Frame</button>
      </div>



  </div>

  <div class="col-md-6 col-lg-6">


    <div class="card-box">
      <h4>Images</h4>
      <small>Thumbnail</small>
      <imagepicker dimx="300" dimy="300" aspect="16/9" path="'/frames/thumbnails/'" callback="vm.handleThumbnail(file);"></imagepicker>
      <img class="img img-fluid" src="{{vm.frame.thumbnail}}"/>
      <hr />
      <small>Main Image</small>
      <imagepicker dimx="600" dimy="600" aspect="16/9" path="'/frames/images/'" callback="vm.handleImage(file);"></imagepicker>

      <img class="img img-fluid" src="{{vm.frame.image}}"/>

    </div>

    <div class="card-box">
      <h4>Specification Files</h4>
      <button class="btn btn-primary" ng-click="vm.addNewSpecfile();">Add</button>

      <div class="media" ng-repeat="specfile in vm.frame.specfiles">
        <a href="{{specfile.urllink}}" target="_blank">
          <span class="h5"><i class="{{vm.getSpecfileIcon(specfile)}}"></i> {{specfile.name}}</span>
        </a>
        <button ng-click="vm.removeSpecFile(specfile,$index);" class="btn btn-danger">Remove</button>
      </div>
    </div>




    <div id="newSpecFileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newSpecFileModal" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title mt-0" id="myModalLabel">Add new specification file</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                          <form class="form-horizontal m-t-20">

                            <div class="form-group">
                                <div class="col-12">
                                    <input type="text" ng-model="vm.newSpecFile.name" placeholder="Name" class="form-control" />
                                </div>
                            </div>

                            <filepicker path="'/frames/specfiles/'" callback="vm.handleSpecFile(file);"></filepicker>

                            <div class="media" ng-if="vm.newSpecFile.urllink">
                              <a href="{{vm.newSpecFile.urllink}}" target="_blank">
                                {{vm.newSpecFile.name}}
                              </a>
                            </div>

                          </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-disabled="!vm.isNewSpecFileValid()" ng-click="vm.saveNewSpecFile();" class="btn btn-primary waves-effect">Save</button>
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>






    <div class="card-box">
      <h4>Location</h4>
      <form>
        <div class="form-group">
            <div class="col-12">
              <div class="form-group">
                  <div class="col-12">
                      <input ng-model="vm.frame.latitude" id="frame_lat" type="text" class="form-control" name="frame_lat" placeholder="Latitude" required autofocus>

                  </div>
              </div>
              <div class="form-group">
                  <div class="col-12">
                      <input ng-model="vm.frame.longitude" id="frame_long" type="text" class="form-control" name="frame_long" placeholder="Longitude" required autofocus>

                  </div>
              </div>
            </div>
        </div>
      </form>

      <locationpicker marker="vm.frame"></locationpicker>

    </div>






  </div>





<!-- end row -->
</div>
