<div ng-controller="HomeController as vm">

  <!-- Page-Title -->
  <div class="row">
      <div class="col-sm-12">
          <div class="page-title-box">
              <div class="btn-group pull-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item active">Home</li>
                  </ol>
              </div>
              <h4 class="page-title">Home - Featured Compositions</h4>
          </div>
      </div>
  </div>
  <!-- end page title end breadcrumb -->



<div class="row">


    <div class="col-sm-4" ng-repeat="featuredcomposition in vm.featuredcompositions">
      <div class="card m-b-20">
          <a ui-sref="compositions.view({composition_id:featuredcomposition.composition.id})" ui-sref-opts="{reload: true}">
            <img class="card-img-top img-fluid" ng-src="{{featuredcomposition.composition.image}}" alt="{{featuredcomposition.composition.name}}">
          </a>
          <div class="card-body">
            <h4 class="card-title font-18 mt-0">
              <a ui-sref="compositions.view({composition_id:featuredcomposition.composition.id})" ui-sref-opts="{reload: true}">
                {{featuredcomposition.composition.name}}
              </a>
            </h4>
                <p class="card-text">
                  {{featuredcomposition.composition.description}}
                </p>
          </div>
      </div>
    </div>



</div>


<div class="row">
  <div class="col-md-6 col-lg-6">
    <div class="card-box">
      <h5>My latest jobs</h5>
      <table class="table" ng-if="vm.latestMyJobs.length > 0">
        <tr ng-repeat="job in vm.latestMyJobs | limitTo:5">
          <td><a ui-sref="jobs.view({job_id:job.id})" ui-sref-opts="{reload: true}">
            <img class="img img-fluid rounded" width="100" ng-src="{{job.sku.composition.thumbnail}}">
          </a>
        </td>
          <td><a ui-sref="jobs.view({job_id:job.id})" ui-sref-opts="{reload: true}">
            {{job.sku.composition.name}}
          </a>
        </td>

          <td width="200">
            <div class="progress">
                <div class="progress-bar progress-lg progress-bar-success progress-bar-striped active progress-animated wow animated " role="progressbar" aria-valuenow="{{job.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.progress}}%;">
                    <span >{{job.progress}} %</span>
                </div>
            </div>
          </td>

        </tr>
      </table>

      <div ng-if="vm.latestMyJobs.length == 0">
        <p>You have no jobs yet</p>
      </div>

    </div>
  </div>

  <div class="col-md-6 col-lg-6">
    <div class="card-box">
      <h5>Latest Team jobs</h5>
      <table class="table" ng-if="vm.latestTeamJobs.length > 0">
        <tr ng-repeat="job in vm.latestTeamJobs | limitTo:5">
          <td><img ng-src="{{job.user.profilepic}}" style="width:30px; height:30px" class="img img-responsive rounded-circle" alt="{{job.user.firstname}} {{job.user.lastname}}" /></td>
          <td><a ui-sref="jobs.view({job_id:job.id})" ui-sref-opts="{reload: true}">
            <img class="img img-fluid rounded" width="100" ng-src="{{job.sku.composition.thumbnail}}">
          </a>
        </td>
          <td><a ui-sref="jobs.view({job_id:job.id})" ui-sref-opts="{reload: true}">
            {{job.sku.composition.name}}
          </a>
        </td>

          <td width="200">
            <div class="progress">
                <div class="progress-bar progress-lg progress-bar-success progress-bar-striped active progress-animated wow animated " role="progressbar" aria-valuenow="{{job.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.progress}}%;">
                    <span >{{job.progress}} %</span>
                </div>
            </div>
          </td>

        </tr>
      </table>

      <div ng-if="vm.latestTeamJobs.length == 0">
        <p>Your team has no jobs yet</p>
      </div>


    </div>
  </div>


</div>




</div>
