<!-- Navigation Bar-->
<header id="topnav" ng-controller="HeaderController as vm">
    <div class="topbar-main">
        <div class="container-fluid">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <!--<a href="index.html" class="logo">-->
                <!--UBold-->
                <!--</a>-->
                <!-- Image Logo -->
                <a href="/" class="logo">
                    <img src="/images/doohpress_orange_web-horiz.png" alt="" height="35" class="logo-lg">
                    <img src="/images/doohpress_orange_web-horiz-sm.png" alt="" height="24" class="logo-sm">
                </a>

            </div>
            <!-- End Logo container-->


            <div class="menu-extras topbar-custom">

                <ul class="list-inline float-right mb-0">

                    <li class="menu-item list-inline-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link" id="burgerMenu" ng-click="vm.toggleMenu();">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>


                    <li class="list-inline-item dropdown notification-list">

                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                            {{vm.Auth().currentUser().firstname}} [ <img src="{{vm.Auth().currentTeam().profilepic}}" style="width:20px; height:20px" class="img img-responsive rounded-circle" /> {{vm.Auth().currentTeam().name}}]
                            <img src="{{vm.Auth().currentUser().profilepic}}" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <a ui-sref="profile" class="dropdown-item notify-item">
                                <i class="fa fa-user-o"></i> <span>Profile</span>
                            </a>

                            <a ui-sref="teams" class="dropdown-item notify-item">
                                <i class=" fa fa-industry"></i> <span>Teams</span>
                            </a>
                            <!-- item-->

                            <hr>

                            <a href="" class="dropdown-item notify-item" ng-repeat="team in vm.Auth().currentUser().teams" ng-click="vm.changeTeam(team);">
                                <img src="{{team.profilepic}}" style="width:20px; height:20px" class="img img-responsive rounded-circle" />
                                <span>{{team.name}}</span>

                            </a>
                            <hr>
                            <a href="/logout" class="dropdown-item notify-item">
                                <i class="fa fa-power-off"></i> <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>
            </div>
            <!-- end menu-extras -->

            <div class="clearfix"></div>

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a ui-sref='home'><i class="md md-dashboard"></i>Home</a>
                    </li>

                    <li ng-if="vm.Auth().isSuperAdmin()" class="has-submenu">
                        <a><i class="md md-dashboard"></i>Admin</a>
                        <ul class="submenu">
                            <li>
                                <a ui-sref="countries">Countries/Cities</a>
                            </li>
                            <li>
                                <a ui-sref="compositions">Compositions</a>
                            </li>
                        </ul>
                    </li>


                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->
